:root {
    --aggie-blue: #00263A;
    --rose-quartz: #B098A4;
    --aero: #23BDDF;
    --snow: #FFF9FB;
}
/*
make sure to use this snow and not the default snow
Black should be okay as well. Try and stick to this
palette
255, 158, 71
 */

@font-face {
    font-family: RobotoFlex;
    src: url("new assets/RobotoFlex.ttf");
}
body {
    background-color: var(--aggie-blue);
    color: var(--snow);
    font-family: "RobotoFlex", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.image-center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.top-bar{
    margin-left: 80%;
}

/*
horizontal bar
 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--snow);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    opacity: 0.8;
    background-color: var(--aero);
}


/*
Dropdown menu
*/
.dropbtn {
    background-color: var(--aero);
    color: var(--snow);
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--snow);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 6px;
    font-family: "Georgia", serif;
}
.dropdown-content a:hover {
    background-color: var(--snow);
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {

    opacity: 0.7;
}

/* classes for gallery.html */
.gallery_box {
    border: 2px solid var(--snow);
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column; /* this is to let the text be above images */
}

.gallery_box p {
    font-family: "RobotoFlex", sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--snow);
}

.gallery_image_container { /* what stores multiple images next to each other */
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid black;
}

.gallery_image_div { /* container for our image + text together */
    width: calc(33% - 5px);
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px; /* if this isnt here text doesn't align with image properly for some reason */
    display: inline-block;
    position: relative;
}

.gallery_image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
}

.gallery_image p {
    font-size: 5px;
    object-fit: cover;
    margin-top: 10px;
    position: absolute;
    z-index: 100;
}
